@import "tailwindcss";

:root {
  --background: #f8fafc;
  --card-bg: #ffffff;
  --text-main: #0f172a;
  --border-color: #e2e8f0;
}
.dark {
  --background: #0f172a;
  --card-bg: #1e293b;
  --text-main: #f8fafc;
  --border-color: #334155;
}

/* Tambahkan kode ini di paling bawah index.css */
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 35s linear infinite;
  display: flex;
  width: max-content;
}

.animate-marquee:hover {
  animation-play-state: paused;
}